<header class="d-block d-md-none">
    <img src="/content/images/macbook.png" alt="header mac book" class="img-fluid" />
</header>
<section class="container">
    <div class="row">
        <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centered-article text-center">
            <h1 class="mb-5">Brevet d'enseignement supérieur Webdeveloper</h1>
            <p >
               Une formation professionnalisante pour apprendre le development web.
            </p>
            <p >
               Vous apprendrez la logique de programmation, la syntaxe et à résoudre des problématiques.
            </p>
            <p>
               Vous apprendrez à vous servir de technologies récentes et actuelles comme Symfony ou Angular dans leur dernères versions.
            </p>
            <p>
                Vous apprendrez à gérer la création d'un projet web, parfois partiellement, parfois globalement.
            </p>
        </article>
    </div>
</section>
<section class="container tile-container">
    <div class="row">
       <article class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center tile" >
        <div class="tile-wrapper" style="background:url('/content/images/content/city2.png');">
            <a [routerLink]="['unites-d-enseignement']" class="tileLink blue">
                <h1 class="tile-h1">Apprendre</h1>
                <hr class="tile-hr" />
                <h2 class="tile-h2">Les concepts, la théorie</h2>
                <p>POO, Design patterns, Frameworks</p>
            </a>
        </div>
    </article>
    <article class="col-lg-4 col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0 col-xs-12 text-center tile" >
        <div class="tile-wrapper" style="background:url('/content/images/content/city3.png');">
            <a [routerLink]="['unites-d-enseignement']" class="tileLink red">
                <h1 class="tile-h1">Coder</h1>
                <hr class="tile-hr" />
                <h2 class="tile-h2">Des sites web dynamiques, des applicaitons JS,...</h2>
<!--                <p>alert('Hello');</p>-->
            </a>
        </div>
    </article>
    <article class="col-lg-4 col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0 col-xs-12 text-center tile" >
        <div class="tile-wrapper" style="background:url('/content/images/content/city3.png');">
            <a [routerLink]="['unites-d-enseignement']" class="tileLink pink">
                <h1 class="tile-h1">S'intégrer</h1>
                <hr class="tile-hr" />
                <h2 class="tile-h2">Dans l'univers professionel</h2>
                <p>Stages, Epreuve Intégrée, ...</p>
            </a>
        </div>
    </article>
    </div>
</section>
